:root {
    --background: white;
    --foreground: black;
    --secondary: #334155;
    --primary: #4f46e5;
    --accent: #6366f1;
    --muted: #94a3b8;
    --border: 1px solid var(--muted);
}

html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 64px 0;
}

.navbar, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-bottom: var(--border);
    background: var(--primary);
    color: var(--background);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
}

.footer__link {
    color: var(--background);
    text-decoration: underline;
}

.logo {
    font-weight: 700;
}

.nav-menu__list {
    display: flex;
    gap: 16px;
}

.nav-menu__item > .nav-menu__link {
    font-size: 14px;
    color: var(--background);
    font-weight: 500;
}

.nav-menu__item > .nav-menu__link:hover {
    color: var(--accent);
}

.container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    gap: 24px;
}

.section--center {
    align-items: center;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.avatar__image {
    width: 128px;
    border-radius: 100%;
    border: var(--border);
}

.avatar__name {
    font-size: 28px;
    font-weight: 800;
}

.avatar__description {
    font-size: 14px;
    font-weight: 500;
}

.avatar__socials {
    display: flex;
    gap: 8px;
}

.button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--primary);
    color: #f8fafc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 12px;
}

.button:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.section__title {
    font-size: 28px;
    font-weight: 700;
}

.contact-form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-width: 420px;
}

.contact-form__input {
    border: none;
    width: 100%;
    color: #f8fafc;
    border-radius: 4px;
    background-color: var(--secondary);
    padding: 12px 16px;
}

.contact-form__input:focus {
    outline: 2px solid var(--primary);
}

.contact-form__input::placeholder {
    color: #94a3b8;
}

.contact-form__input--textarea {
    resize: none;
    min-height: 140px;
}

.about__description {
    color: var(--secondary);
    text-align: justify;
    line-height: 20px;
}

.experiences__table {
    margin-top: 16px;
}

.table__heading {
    font-weight: 700;
}

.data__enterprise {
    font-weight: 600;
}

.table__heading, .data__enterprise, .data__role, .data__stack{
    text-align: center;
    vertical-align: middle;
    padding: 12px 0px;
    font-size: 18px;
    border: var(--border);
}

.languages-grid, .interests-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.languages-grid__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: var(--border);
    border-radius: 8px;
}

.languages-grid__item > .item__name {
    font-weight: 600;
}

.languages-grid__item > .item__level {
    background-color: var(--primary);
    border-radius: 2px;
    height: 8px;
}

#english-level {
    width: 75%;
}

#portuguese-level {
    width: 100%;
}

.interests-grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
    border: var(--border);
    border-radius: 8px;
}

.interests-grid__item > .item__logo {
    border-radius: 100%;
}

.interests-grid__item > .item__name {
    font-size: 20px;
    font-weight: 700;
}
